.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
}